<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ddl.dalong.com.meishijie_project">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".ui.GuideActivity">
        </activity>
        <activity android:name=".ui.LoginActivity">
        </activity>
        <activity android:name=".ui.WebActivity">
        </activity>
        <activity android:name=".ui.BinnerDetailsActivity">
        </activity>
        <activity android:name=".ui.HeadItemRecyleViewActivity">
        </activity>
        <activity android:name=".ui.TopdetailObjActivity">
        </activity>
        <activity android:name=".ui.TopDatailsActivity">
        </activity>
        <activity android:name=".ui.WebBuyerActivity">
        </activity>
        <activity android:name=".ui.GradviewdetailActivity">
        </activity>
        <activity android:name=".ui.SearchActivity">
        </activity>
        <activity android:name=".ui.MoreActivity">
        </activity>
        <activity android:name=".ui.MoreTopDetailsActivity">
        </activity>
        <activity android:name=".ui.MoreDetailActivity">
        </activity>
    </application>

</manifest>